* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --bg-main: rgb(231, 236, 240);
    --bg-second: rgb(232, 227, 227);
    --bg-accent: rgb(60, 135, 193);
    --bg-accent-hovered: rgb(10, 90, 151);

    --fg-main: rgb(28, 29, 29);
    --fg-second: rgb(255, 255, 255);
}

html {
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.icon-sm {
    --size: 28px;
    width: var(--size);
    height: var(--size);
}

body {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 3.5fr;
}

body > * {
    padding: 0 2rem;
}

header {
    grid-area: 1 / 2 / 2 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 3.5rem;
}

header .top-header, header .bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-header > *, header .bottom-header > * {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profile-sm, .profile-md {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.profile-md {
    --size: 72px;
}

header .top-header:first-child input{
    padding: 0.8em 1em;
    width: 120ch;
    border: none;
    background-color: var(--bg-second);
    border-radius: 16px;
}

header .top-header:first-child input:focus {
    background-color: var(--bg-main);
}

header .bottom-header .name {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

header .bottom-header .name > *:last-child {
    font-size: 2rem;
}

header .bottom-header .buttons button{
    padding: 1em 0;
    border: none;
    width: 14ch;
    border-radius: 24px;
    color: var(--fg-second);
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--bg-accent);
}

nav {
    grid-area: 1 / 1 / -1 / 2;

    background-color: var(--bg-accent);
    color: var(--fg-second);

    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 1.2rem;
    padding-top: 2rem;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* a > img + text */
nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--bg-accent-hovered);
}

nav .logo .icon {
    width: 48px;
    height: 48px;
}

/* icons */
nav a > *:first-child {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}