* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
}

body > * {
    border: 1px solid;
}

header {
    grid-area: 1 / 2 / 2 / -1;
}

nav {
    grid-area: 1 / 1 / -1 / 2;
}