* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.icon-sm {
    --size: 28px;
    width: var(--size);
    height: var(--size);
}

body {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 4fr;
}

body > * {
    border: 1px solid;
    padding: 1.5rem 2rem;
}

header {
    grid-area: 1 / 2 / 2 / -1;
}

header .top-header {
    display: flex;
    justify-content: space-between;
}

header .top-header > * {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profile-sm {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

header .top-header:first-child input{
    padding: 0.5em 1em;
    width: 75ch;
    border: none;
    background-color: #ebe6e6;
    border-radius: 16px;
}

header .top-header:first-child input:focus {
    background-color: #fff;
}

nav {
    grid-area: 1 / 1 / -1 / 2;
}