* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --bg-light: #fff;
    --bg-light-second: #f3f3f3;

    --fg-light: #fff;

    --accent: #1872aa;
}

html {
    font-family: Roboto, sans-serif;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

body {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
}

body > * {
    /* border: 1px solid; */
    padding: 1rem;
}

header {
    grid-area: 1 / 2 / 2 / -1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

header > div:first-child,
header > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div:first-child > *,
header > div:last-child > * {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav {
    grid-area: 1 / 1 / -1 / 2;
}

main {
    --card-b-rad: 14px;

    grid-area: 2 / 2 / -1 / -1;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: var(--bg-light-second);

}

main .heading {
    margin-bottom: 1rem;
}

main > * {
    /* border: 1px solid #333; */
    padding: 1rem;
}

main > .projects {
    grid-area: 1 / 1 / -1 / -2;
}

main > .projects > .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    grid-auto-rows: 291px;
    gap: 2rem;
}

main > .projects > .list > li {
    background-color: var(--bg-light);
    padding: 2.5rem;
    border-radius: var(--card-b-rad);
}

main > .announcements {
    grid-area: 1 / 2 / 2 / -1;
}


main > .announcements {
    font-size: 0.95rem;
}

main > .announcements > .list {
    background-color: var(--bg-light);
    padding: 2rem;
    border-radius: var(--card-b-rad);
}



main > .trending {
    grid-area: 2 / 2;
}

main > .trending > .list {
    background-color: var(--bg-light);
    padding: 2rem;
    border-radius: var(--card-b-rad);
}